<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SingleSessionFactory" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=NHibernate.Sessions.DemoApplication.SingleSessionFactory; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="TodoItems" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=NHibernate.Sessions.DemoApplication.MultipleSessionFactories.TodoItems; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="Users" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=NHibernate.Sessions.DemoApplication.MultipleSessionFactories.Users; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
</configuration>